networks:
  pcs:

services:

  #
  # Required services
  #
  etcd:
    image: quay.io/coreos/etcd:v3.5.17
    environment:
      - ETCD_UNSUPPORTED_ARCH=arm64
      - ALLOW_NONE_AUTHENTICATION=yes
      - ETCD_ADVERTISE_CLIENT_URLS=http://etcd:2379
      - ETCD_LISTEN_CLIENT_URLS=http://0.0.0.0:2379
    networks:
      - pcs

  vault:
    hostname: vault
    image: docker.io/library/vault:1.5.5
    environment:
      - VAULT_DEV_ROOT_TOKEN_ID=hms
      - VAULT_DEV_LISTEN_ADDRESS=0.0.0.0:8200
      - VAULT_ADDR=http://127.0.0.1:8200
    cap_add:
      - IPC_LOCK
    networks:
      - pcs

  vault-kv-enabler:
    build:
      context: .
      dockerfile: vault-kv-enabler.dockerfile
    environment:
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=hms
      - KV_STORES=hms-creds
    depends_on:
      - vault
    networks:
      - pcs

  postgres:
    hostname: postgres
    image: docker.io/library/postgres:11-alpine
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_DB=hmsds
    networks:
      - pcs

  smd-init:
    image: ghcr.io/openchami/smd:2.17
    environment:
      - SMD_DBHOST=postgres
      - SMD_DBPORT=5432
      - SMD_DBNAME=hmsds
      - SMD_DBUSER=${POSTGRES_USER:-postgres}
      - SMD_DBPASS=${POSTGRES_PASSWORD:-postgres}
      - SMD_DBOPTS=sslmode=disable
    depends_on:
      - postgres
    networks:
      - pcs
    command: /smd-init

  smd:
    image: ghcr.io/openchami/smd:2.17
    environment:
      - SMD_DBHOST=postgres
      - SMD_DBPORT=5432
      - SMD_DBNAME=hmsds
      - SMD_DBUSER=${POSTGRES_USER:-postgres}
      - SMD_DBPASS=${POSTGRES_PASSWORD:-postgres}
      - SMD_DBOPTS=sslmode=disable
      - SMD_JWKS_URL=
      - RF_MSG_HOST=kafka:9092:cray-dmtf-resource-event
      - CRAY_VAULT_AUTH_PATH=auth/token/create
      - CRAY_VAULT_ROLE_FILE=configs/namespace
      - CRAY_VAULT_JWT_FILE=configs/token
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=hms
      - VAULT_KEYPATH=hms-creds
      - SMD_WVAULT=true
      - SMD_RVAULT=true
      - SMD_SLS_HOST=
      - SMD_HBTD_HOST=
    volumes:
      - ./configs/namespace:/configs/namespace
      - ./configs/token:/configs/token
    hostname: smd
    depends_on:
      - smd-init
      - vault
    networks:
      - pcs

  #
  # Emulated hardware
  #
  # Note: Several PCS power-cap tests assume that all compute nodes in HSM
  # have Node Power Limit controls and do not have Accelerator Power Limit
  # controls, so the following RIE instances should only emulate node types
  # that fit this criteria. Otherwise test failures may occur.
  #
  emulator-loader:
    image: docker.io/library/golang:1.24-alpine
    command: >
      sh -c "apk add curl && sleep 10 &&
      curl -X POST -d '{\"RedfishEndpoints\":[{
        \"ID\":\"x0c0b0\",
        \"FQDN\":\"x0c0b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s0b0\",
        \"FQDN\":\"x0c0s0b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s1b0\",
        \"FQDN\":\"x0c0s1b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s2b0\",
        \"FQDN\":\"x0c0s2b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s3b0\",
        \"FQDN\":\"x0c0s3b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s4b0\",
        \"FQDN\":\"x0c0s4b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s5b0\",
        \"FQDN\":\"x0c0s5b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s6b0\",
        \"FQDN\":\"x0c0s6b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      },{
        \"ID\":\"x0c0s7b0\",
        \"FQDN\":\"x0c0s7b0\",
        \"RediscoverOnUpdate\":true,
        \"User\":\"root\",
        \"Password\":\"root_password\"
      }]}' http://smd:27779/hsm/v2/Inventory/RedfishEndpoints"
    depends_on:
      - smd
      - rfemulator0
      - rfemulator1
      - rfemulator2
      - rfemulator3
      - rfemulator4
      - rfemulator5
      - rfemulator6
      - rfemulator7
      - rfemulator8
    networks:
      - pcs

  rfemulator0:
    hostname: x0c0s0b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s0b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s0b0

  rfemulator1:
    hostname: x0c0s1b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s1b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s1b0

  rfemulator2:
    hostname: x0c0s2b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s2b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s2b0

  rfemulator3:
    hostname: x0c0s3b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s3b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s3b0

  rfemulator4:
    hostname: x0c0s4b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s4b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s4b0

  rfemulator5:
    hostname: x0c0s5b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s5b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s5b0

  rfemulator6:
    hostname: x0c0s6b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s6b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s6b0

  rfemulator7:
    hostname: x0c0s7b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=EX425
      - MAC_SCHEMA=Mountain
      - XNAME=x0c0s7b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0s7b0

  rfemulator8:
    hostname: x0c0b0
    image: ghcr.io/openchami/csm-rie:v1.6.7
    environment:
      - MOCKUPFOLDER=CMM
      - XNAME=x0c0b0
      - PORT=443
    networks:
      pcs:
        aliases:
          - x0c0b0

  #
  # Service under test
  #
  power-control:
    build:
      context: .
      dockerfile: Dockerfile.ct.Dockerfile
    environment:
      - SMS_SERVER=http://smd:27779
      - CRAY_VAULT_AUTH_PATH=auth/token/create
      - CRAY_VAULT_ROLE_FILE=configs/namespace
      - CRAY_VAULT_JWT_FILE=configs/token
      - VAULT_ADDR=http://vault:8200
      - VAULT_TOKEN=hms
      - VAULT_KEYPATH=hms-creds
      - VAULT_SKIP_VERIFY=true
      - VAULT_ENABLED=true
      - LOG_LEVEL=DEBUG
      - TRS_IMPLEMENTATION=LOCAL
      - HSMLOCK_ENABLED=true
      - STORAGE=ETCD
      - ETCD_HOST=etcd
      - ETCD_PORT=2379
      - PCS_POWER_SAMPLE_INTERVAL=5
    depends_on:
      - etcd # needed to bring up PCS
      - smd # needed to bring up PCS
      - vault-kv-enabler # needed for discovery of emulated hardware to succeed
      - emulator-loader # needed to bring up emulated hardware
      - wait-for-smd # needed to give PCS time for its initial hardware scan
    networks:
      - pcs

  #
  # Tests
  #
  wait-for-smd:
    build:
      context: test/ct/
      dockerfile: Dockerfile.wait-for-smd.Dockerfile
    networks:
      - pcs

  tavern:
    build:
      context: test/ct/
      dockerfile: Dockerfile
    entrypoint: entrypoint.sh tavern -c /src/app/tavern_global_config_ct_test_emulated_hardware.yaml -p /src/app/api
    networks:
      - pcs

  smoke:
    build:
      context: test/ct/
      dockerfile: Dockerfile
    entrypoint: entrypoint.sh smoke -f /src/app/smoke.json -u http://power-control:28007
    networks:
      - pcs
